<header>
    <nav>
        <ul>
            <li><a href="/admin/products">Products</a></li>
            <li><a href="/admin/brands">Brands</a></li>
            <li><a href="/admin/categories">Categories</a></li>
            <li><a href="/admin/orders">Orders</a></li>
        </ul>
    </nav>
</header>
